.app {
  padding: 30px;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.button-group {
  position: relative;
}

.items-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
